################################################################################
# Bu .gitignore dosyası Microsoft(R) Visual Studio tarafından otomatik olarak oluşturulmuştur.
################################################################################

# Visual Studio dosyaları
.vs/

# Derleme çıktı dizinleri
bin/
obj/

# Kaynak dışı varlıklar
/Resources/charting_library/
